@import "../variables";

.search {
  padding: 15px 15px 16px 15px;
  border-radius: 5px ;
  background-color: #c7eeab;
  outline: none;
  border: 1px solid $lm-primary;
}

input[type="file"] {
  visibility: hidden !important;
}

