@import "../variables";

* {
  scrollbar-width: thin;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $lm-primary ;
  border-radius: 30px;
}
