@import "src/assets/styles/variables";

.page {

  min-height: calc(100vh - 124px);
  margin: 0 3% ;
  padding-top: 40px;

  .title {
    font-weight: 400;
    font-size: 130%;
    color : $lm-primary;
    text-transform: uppercase;
    margin: 0;
    display: block;
  }

  .title-icon {
    padding: 14px 15px 12px 15px ;
    border-radius: 5px ;
    background-color: #c7eeab;
    outline: none;
    border: 1px solid $lm-primary;
    color: $lm-primary;
    width: 55px;
    height: 55px;
    margin-right: 10px;
  }

  .server-error {
    font-size: 120% !important;
    font-weight: 500 !important;
    color: $lm-primary;
  }
}
