<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">

    <div class="sidenav">
      <div class="sidenav-img-container row justify-content-center">
        <img src="./../../assets/img/logo.png">
      </div>

      <div class="row justify-content-center">
        <p class="sidenav-text mt-4">{{user.firstName + " " + user.lastName}}</p>
      </div>

      <mat-list role="list">
        <mat-list-item *ngFor="let route of routes"  routerLink="{{route.route}}" [routerLinkActive]="route.route ? 'active' : ''" >
          <span class="material-icons">{{route.icon}}</span>
          {{route.name}}
        </mat-list-item>
      </mat-list>
    </div>

  </mat-sidenav>

  <mat-sidenav-content >
    <mat-toolbar >
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1></h1>
    </mat-toolbar>
    <ng-content></ng-content>
    <app-lm-copyright></app-lm-copyright>
  </mat-sidenav-content>
</mat-sidenav-container>
