@import "../../../../assets/styles/variables";

:host {

  mat-sidenav-container {
    min-height: 100vh;
  }

  mat-sidenav {
    z-index: 5;
    width: 280px ;
    height: 100% ;
    background-size: cover;


    .sidenav {
      opacity: 900% !important;

      &-img-container {
        width: 100%;
        padding: 20px 50px ;
        border-bottom : 0.5px solid rgba(154, 154, 154, 0.51);

        img {
          width: 200px;
        }
      }

      &-text {
        font-size: 18px;
        color : $cb-dark ;
      }

      .active {
        color: $cb-white;
        background-color: $cb-navy;
      }

      mat-list-item {
        width: 240px;
        height: 50px;
        text-align: center;
        font-size: 92%;
        margin: 10px 20px;
        border-radius: 3px;
        transition: 0.4s;
        outline: none;
        cursor: pointer;
        color: $cb-grey;

        &:hover:not(.active) {
          color: $cb-white;
          background-color: $cb-navy;
        }

        span {
          margin-right: 15px;
        }

      }
    }
  }

  mat-sidenav-content {
    min-height: 100vh  ;
  }
}
